*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
.attribution{
    font-size: 11px;
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
.main-cont{
    background-color: #19A1AD;
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.main-cont img:first-child{
    position: absolute;
    top: -100%;
    right: 50%;
    z-index: 2;
}
.main-cont img:nth-child(2){
    position: absolute;
    bottom: -95%;
    left: 40%;
    z-index: 2;
}
.card-cont{
    width: 350px;
    margin: auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    z-index: 3;
    position: relative;
    box-shadow: 15px 15px 15px #148496;
}
.card-cont img:first-child{
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 15px 15px 0 0 ;
    -webkit-border-radius: 15px 15px 0 0 ;
    -moz-border-radius: 15px 15px 0 0 ;
    -ms-border-radius: 15px 15px 0 0 ;
    -o-border-radius: 15px 15px 0 0 ;
}
.card-cont img:nth-child(2){
    position: relative;
    top: -48px;
    left: 0px;
    border: white solid 6px;
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
}
.card-cont > h2:first-of-type,
.card-cont > h4 {
    position: relative;
    top:-30px
} 
.card-cont span{
    color: #C9CACF;
}
.st{
    display: flex;
    width: 85%;
    justify-content: space-evenly;
}
.st div{
    margin-left: 3%;
    text-align: center;
}
.st div h6{
    color: #C9CACF;
}